# 
# systemctl service to run read_wave.py (on WS1 only)
#

[Unit]
Description=read_wave_service
After=network.target


[Service]
User=root
#WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/WROMY/read_wave.py
#ExecReload=/usr/bin/python3 /root/romy_control_AB/romy_control.py -k graceful
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

# END OF FILE
